RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=pass
ETHERPAD_DB_TYPE=postgres
ETHERPAD_DB_HOST=localhost
ETHERPAD_DB_USER=postgres
ETHERPAD_DB_PASSWORD=postgres
ETHERPAD_DB_NAME=etherpad_appcivist
POSTGRES_PASSWORD=postgres
POSTGRES_USER=appcivist
POSTGRES_DB=appcivist
VOTING_API_SECRET=secret
USNB_EMAIL_HOST=''
USNB_EMAIL_PORT=''
USNB_EMAIL_USER=''
USNB_EMAIL_PASSWORD=''
USNB_FACEBOOK_USER=''
USNB_FACEBOOK_PASSWORD=''